# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Ambientes Virtuais (Virtual environments)
venv/
env/
ENV/
.env
.venv

# VS Code / IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store

# Logs e arquivos temporários
*.log
tmp/
temp/
